body {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
h1 {
    color: #ffffff;

}
p, ul {
    color: #66cccc;
}
a {
    color: lightgrey;
    text-decoration: none;
 }